<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    	<title></title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='checkerboard_style.css')  }}">
        <!-- <script type="text/javascript" src="{{ url_for('static', filename='checkerboard_script.js') }}"></script> -->
	</head>
    <body>

        <h1>Here is Your Checkerboard!</h1>
        <div class="bullshit">
            <div class="checkermat">
                    <div class="container">    
                        {% for i in range(n//2) %}
                            <div>
                                {% for j in range(x//2) %}
                                    <div class="box1" style="background-color: {{color1}}"></div>
                                    <div class="box2" style="background-color: {{color2}}"></div>
                                {% endfor %}
                                {% if x % 2 == 1: %}
                                    <div class="box1" style="background-color: {{color1}}"></div>
                                {% endif %}
                            </div>
                            <div>
                                {% for j in range(x//2) %}
                                    <div class="box2" style="background-color: {{color2}}"></div>
                                    <div class="box1" style="background-color: {{color1}}"></div>
                                {% endfor %}
                                {% if x % 2 == 1: %}
                                    <div class="box2" style="background-color: {{color2}}"></div>
                                {% endif %}
                            </div>
                        {% endfor %}
                        {% if n % 2 == 1: %}
                            <div>
                                {% for j in range(x//2) %}
                                    <div class="box1" style="background-color: {{color1}}"></div>
                                    <div class="box2" style="background-color: {{color2}}"></div>
                                {% endfor %}
                                {% if x % 2 == 1: %}
                                    <div class="box1" style="background-color: {{color1}}"></div>
                                {% endif %}
                            </div>
                        {% endif %}
             
                    </div>
            </div>
        </div>
    </body>
</html>